.site-footer {
	padding: 4rem 0;
    margin-top: 4rem;
    color:white;
    background-color:#151414;
}

.social-media{
	svg {
	float:right;
	display: inline;
	width: 5em;
	height:5em;
	background-color: green;
	color:white;
	}
}