.site-footer {
	padding: 4rem 0;
    margin-top: 0;
    color:white;
    background-color:#151414;
}

.social-media{    
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	margin: 10px auto;
	max-width: 1174px;
	
	.form-mail {
		float: left;
	}
}

/**
 * Style the list items.
 */
 .svg{
 	margin: 2px;
 }

.social-media li {
	padding:  3px;
	background-color: green;
	display: inline-block;
	font-size: 30px;
	text-align: center;
	height: 50px;
	width: 40px;
	margin-right: 2px;
}

.site-info {
	padding: 20px 0;
	font-size: 13px;
	font-weight: 500;
	span {
		float: right;
	}
}