.site-footer {
	padding: 4rem 0;
    margin-top: 0;
    color:white;
    background-color: $main-gray;

    .news-social {
    	@extend .clearfix;
    	display: block;
    	width: 100%;
    	margin-bottom: 40px;

    	.form-mail {
    		width: 50%;
    		float: left;
    		@extend .form-group;

    		input[type="email"] {
    			@extend .form-control;
    			width: 65%;
    			float: left;
    			border-radius: 0;
    			border-top-left-radius: $bdrs;    		
    			border-bottom-left-radius: $bdrs;    		
    		}

    		input[type="submit"] {
    			@extend .btn;
    			@extend .btn-success;
    			border-radius: 0;
    			border-top-right-radius: $bdrs;    		
    			border-bottom-right-radius: $bdrs; 

    			&:focus {
    				box-shadow: none;
    			}
    		}
    	}

    	.social {
    		width: 50%;
    		float: right;
    		text-align: right;

    		a {

    		font-size: 26px;
    		color: $green;
    		}
    	}
    }
}

.site-info {
	padding: 35px 0;
	font-size: 13px;
	font-weight: 500;
	span {
		&:first-of-type {
			float: left;
		}
		&:last-of-type {
			float: right;
		}
	}
}