.site-header {
	margin-bottom: 3rem;
}

.home {
	.navbar {
		position: absolute;
		z-index: 2;
		width: 100%;
		background: white;
	}

	#info-name {
	position: relative;
	padding: 20px;
	top: 150px;
	background-color: white;
	z-index: 2;
	width: 500px;
	height: 70px;
	}
}


