/**
* About section
*/
.about-section {
	width: 100%;
	padding: 40px 0;
	background-image: url(images/background_about_section.jpg); 
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;

	h3 { 
		@extend .clearfix;
		font-size: 2.5rem;
    	font-weight: 700;

		span {
			color: $green;
			display: inline-block;
			width: 25%;
			text-align: center;
			float: left;
			border-right: 2px solid $gray-200;
			
			padding: 1.5rem;

			&:last-child {
				border: none;
			}
		}

	}	
	
	@keyframes BounceEffect {
		0% {
			opacity: 0;
			transform: translateY(-300);
		}
		40% {
			opacity: 1;
			transform: translate(0);
		}
		55% {
			transform: translate(-14px);
		}
		75% {
			transform: translate();
		}

		100% {
			opacity: 2;
			transform: translateY(-7px);
		}
	}

	.box-info {
		animation: BounceEffect, 4s, forwards; //animation name, duration, and fill-mode
		// animation-iteration-count: infinite; 30%;

		background-color: darken($green, 5%);
		position: relative;
		margin: 0 auto;
		color: white;
		text-align: center;
		width: 60%;
		margin-left: 20%;
		margin-top: 10%;
		padding: 1.5em;
		font-size: 1.1rem;
		&::after {
			content: '';
			position: absolute;
			/* vcss bab daun hitamfi daerah mana? */
			width: 0; 
			height: 0; 
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-top: 30px solid darken($green, 5%);
			margin-top: 20px;
			margin-left: -2rem;

		}
	}

	.end-of-about-section {
		text-align: center;

		h2 {
			color: darken($green, 5%);
			font-size: 4rem;
			margin-top: 4rem;
			margin-bottom: 2rem;
			//font-weight: $900; // or Jeez, my brain is cracking
			font-weight: $bold;
		}
		a {
			color: black;
			font-size: 20px;
			@extend .font-weight-bold;
		}
	}
	
}

