.news-section {
	padding: 60px 0;
	width: 100%;
	margin-top: 8rem;

	 .news-item {
		position: relative;
	 	color: $white;
	 	margin: 20px;
	 	width: 25%;
	 	@extend .clearfix;

	 	.news-item-image {
	 		display: block;
	 		position: relative;
	 		float: left;

	 		.overlay {
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  background-color: lighten($green, 5%);
			  overflow: hidden;
			  width: 100%;
			  height: 100%;
			  -webkit-transform: scale(0);
			  -ms-transform: scale(0);
			  transform: scale(0);
			  -webkit-transition: .3s ease;
			  transition: .3s ease;

			  h5 {
				color: white;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
			  }
			}
	 	} //end-of news item image

	 	.news-item-content {
	 		clear: both;
	 		position: relative;
	 		background-color: darken($green, 5%);
			float: left;
			display: block;
			p {
				padding: 5px;
			}
	 		h2 {
	 			font-size: 28px;
	 			font-weight: 500;
	 		}
	 	} //end of news intem content

	 } // news item
	.news-item:hover .overlay {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		}

	

} //end-of-news-section