.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}

.post-thumbnail {
    margin-bottom: 1em;
    width: 250px;//
    height: 250px;//
}

.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .svg-inline--fa {
    color: $gray-600;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);	
	}
}

.content-area {
  .single_page {
    margin-top: 10rem;
    justify-content: center;
    width: 80%;
      span {
        font-weight: 500;
        text-align: center;
        font-size: 3rem;
        text-align: justify;
        width: 100%;

        a:hover, a:focus {
          margin-left: 4px;

        }
      }
      h2 {
        margin-top: 10rem;
      }

      p {
        display: block;
        text-alignment: center;
        font-wight: 400;
        font-size: 18px;
      }
      .post-thumbnail {
          img {
            display: block;
              width: 150px;
              height: 200px;
              justify-content: center;
          }
      }

  }
}



