.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}

.post-thumbnail {
    margin-bottom: 1em;
    width: 100%;
    height: 250px;
}
.page-header {
  margin-top: 12rem
}
.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .svg-inline--fa {
    color: $gray-600;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);	
	}
}

.content-area-full {
  margin-top: -50px; 
  .single-about {
      width: 100%;

      .about-container {
        width: 80%;
        margin: 0 auto 2rem auto;
      }

      .page-thumbnail {
        width: 100%;
        margin-bottom: 2rem;
        background-size: cover;
        img {
          width: 100%;
          height: 360px;
          object-fit: cover;
        }
      }
        h2{
          font-weight: 400;
          font-weight: 600;
          font-size: 38px;
        }
    }
}

.content-area-full{
  margin-top: -50px;
    .site-content{
      width: 100%;
        .page-container {
          width: 80%;
          margin: 0 auto 2rem auto;
        }
        .page-thumbnail {
          width: 100%;
          width: 100%;
          margin-bottom: 2rem;
          background-size: cover;
             img {
              width: 100%;
              height: 360px;
              object-fit: cover;
             }
        }

        h2 {
           font-weight: 400;
          font-weight: 600;
          font-size: 38px;
        }
    }

}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 18px !important;
  margin: 0;
  padding: 1rem 0;

     li {
      background-color: white;
    border-radius: 100%;
      button {
      display: block;
      width: 1rem;
      height: 1rem;
      padding: 0;
      border: none;
      border-radius: 100%;
      text-indent: -9999px;
    }
    }

    li.slick-active button {
      background-color: $green;
    }
  
}
article {
  width: 100%;
  .post-thumbnail{
    width: 40%;
  }
}

/* For Error Page 404*/
section {
  .error-404 not-found {
  width: 100%;
  background-color: red;
  }

  .page-content {
    box-sizing: border-box;
    width: 100%;
    color: black;
  }
}