.image-banner {
    margin: 5em auto;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    .banner-description {
        margin: 0 auto;
        width: 80%;
        border: 5px solid yellowgreen;
        box-shadow: 5px 10px #888888;
        padding: 10px;
        text-align: center;
        p {
            h1 {
                font-weight: 10px;
            }
        }
    }
}